<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TracNghiemPhanMem.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=LAPTOP-A8BQ8SVQ\SQLEXPRESS;Initial Catalog=QLThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TracNghiemPhanMem.Properties.Settings.CauHoiTracNghiemConnectionString"
            connectionString="Data Source=LAPTOP-A8BQ8SVQ\SQLEXPRESS;Initial Catalog=CauHoiTracNghiem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>